@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 5px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
  background-color: #282c34;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.circle {
    position: relative;
    height: 18.5rem;
    width: 18.5rem;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;

    animation-name: day-night-animation;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

.sky {
    position: relative;
    width: 100%;
    height: 12.5rem;
    background: #7DDFFC;

}

.sun {
    position: absolute;
    top: 22px;
    left: 17px;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #FFEF00;

    animation: sun-animation 3.5s linear forwards infinite;

}

.paramid {
    position: absolute;
    bottom: 0;
    right: 33px;
    height: 50%;
    width: 65%;
    background-color: #fff;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    z-index: inherit;
}

.paramid::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #d0cece;
    z-index: 1000;
    clip-path: polygon(50% 0, 66% 100%, 0 100%);
    animation: left-side-paramid 3.5s linear infinite;
}

.paramid::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #d0cece;
    z-index: 1000;
    clip-path: polygon(50% 0, 100% 100%, 66% 100%);
    animation: right-side-paramid 3.5s linear infinite;
}

.sand {
    width: 100%;
    height: 6rem;
    background-color: #F0DE75;

}

.sand::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1000;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;

    /* clip-path: polygon(17% 0, 82% 0, 50% 10%); */

    animation: sand-shadow 3.5s linear infinite;
}


@keyframes day-night-animation {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    90% {
        opacity: 0.7;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sun-animation {
    0% {
        transform: translateX(-50px) translateY(30px);
        
    }

    20% {
        transform: translate(0);
    }

    30% {
        transform: translate(0);
    }

    42.5% {
        transform: translateX(30px) translateY(-4px);
    }

    55% {
        transform: translateX(60px) translateY(-8px);
    }

    67.5% {
        transform: translateX(90px) translateY(-4px);
    }

    80% {
        transform: translateX(120px);
    }


    100% {
        transform: translateX(170px) translateY(30px);
    }
}

@keyframes left-side-paramid {
    0% {
        background-color: #ede9e9;
    }
    
    10% {
        background-color: #e4e4e4;
    }

    23% {
        background-color: #fff;
    }

    35% {
        background-color: #fff;
    }

    70% {
        background-color: #d7d5d5;
    }

    100% {
        background-color: #d7d5d5;
    }
}

@keyframes right-side-paramid {
    0% {
        background-color: #d7d5d5;
    }
    
    /* 10% {
        background-color: #e9e9e9;
    } */

    20% {
        background-color: #d7d5d5;
    }

    25% {
        background-color: #d7d5d5;
    }

    30% {
        background-color: #d7d5d5;
    }

    40% {
        background-color: #ede9e9;
    }

    50% {
        background-color: #ede9e9;
    }

    80% {
        background-color: #fff;
    }

    100% {
        background-color: #fff;
    }

}

@keyframes sand-shadow {
    0% {
        clip-path: polygon(17% 0, 82% 0, 95% 5%);
    }

    10% {
        clip-path: polygon(17% 0, 82% 0, 100% 10%);
    }

    20% {
        clip-path: polygon(17% 0, 82% 0, 100% 17%);
    }

    30% {
        clip-path: polygon(17% 0, 82% 0, 100% 17%);
    }

    40% {
        clip-path: polygon(17% 0, 82% 0, 70% 7%);
    }

    50% {
        clip-path: polygon(17% 0, 82% 0, 50% 7%);
    }

    /* 60% {
        clip-path: polygon(17% 0, 82% 0, 30% 7%);
    } */

    80% {
        clip-path: polygon(17% 0, 82% 0, 0 17%);
    }

    90% {
        clip-path: polygon(17% 0, 82% 0, 0 7%);
    }

    100% {
        clip-path: polygon(17% 0, 82% 0, 0 2%);
    }
}